#p_id{
    color: red;
}

#div1{
    color: blue;
}

body{
    background-color: cornflowerblue;
}

.container{
    height: 400px;
    width: 450px;
    background-color: blueviolet;
    /* padding: ; */
    margin: 80px auto;
}